/* GLOBAL STYLES do not touch this -----------------*/
*, *:before, *:after {
    box-sizing: border-box;
}

.clearfix:after { 
  content: "";
  display: table;
  clear: both;
}
/*   shubhparteek css code    */
.header{
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* background-color: aqua; */
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header h1{
  font-family: 'Dancing Script',cursive;
  font-size: 60px;
  
}
.header header{
  text-align: center;
  padding-top: 50px;
}
header h2{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
}
.profile{
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content:space-between;
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
  border: solid 2px rgb(0, 0, 0, 0.8);

}
.profile a{
  color: rgb(43, 207, 194);

}
/* .summary{
  height: fit-content;
} */
.profile img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
  border: 5px solid rgb(80, 78, 78);
  box-shadow: 2px;
}
.profile h2{
  background-color: rgb(43, 207, 194);
  width: 110px;
  height: 50px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-10deg);
}
.work-experience{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
}
.work-experience .date {
  margin: 5px 0 20px 0;
  font-size: 12px;
}
.work-experience h3 {
  line-height: 1.25;
  font-size: 16px;

}
.work-experience strong {
  font-weight: 400;
  text-transform: uppercase;
}
.work-experience .details {
  float: left;
  width: 30%;
  padding-right: 30px;
}
.work-experience .description {
  font-size: 14px;
  width: 70%;
  float: right;
}
.work-experience .description p:first-child {
  margin-top: 8px;
}

.company {
  font-family: "Pacifico", cursive;
  font-size: 20px;
  letter-spacing: 0.08em;
  color: #16a085;
}
.item{
  border-top: 2px solid rgb(172, 172, 172);
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 30px;
}

.description strong{
  /* font-size: large; */
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}
.details h3{
  margin-top: 0;
  margin-bottom: 0;
}
.details h4{
  margin-bottom: 0;
  margin-top: 0;
}

/* SKILLS
----------*/
.skills {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 25% , rgba(27, 27, 27, 0.6) 5%), url(/images/background.jpg) no-repeat fixed 50%;
  
  background-size: cover;
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 30px;
}
.skills h3 {
  margin: 20px;
}
.skills h4 {
  margin-bottom: 10px;
  color: #16a085;
}
.skills i {
  color: #16a085;
}

.skills-list .columns {
  width: 33.33%;
  float: left;
}

.skills-list ul,
.skills-circles ul {
  list-style-type:none;
  padding: 0;
}

.skills-circles ul li {
  height: 150px;
  width: 150px;
  line-height: 150px;
  display: inline-block;
  padding: 0 10px;
  border: 2px solid #16a085;
  border-radius: 50%;
  background: black;
}
.skills-circles span {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}
.skills h2{
 border-bottom: 2px solid gray;
}

.columns ul li:before {
  font-weight: 900;
  content: '\2713';
  color:#16a085;
  padding-right:5px;
  }

  /* EDUCATION
-------------*/
.education h4 {
  color: #16a085;
}

/* CONTACT & FOOTER 
--------------------*/
.contact {
  background: #111;
  color: white;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
}
.contact p {
  margin: 0;
}
.contact p:first-of-type {
  margin-top: 35px;
}
.contact a{
  color: #16a085;
}
.contact h2{
  border-bottom: 2px solid gray;
}
.social {
  width: 50%;
  float: right;
  text-align: right;
  font-size: 30px;
}
.social a {
  margin: 0 8px;
}
.social a:hover {
  color: white;
}

footer {
  clear: both;
  font-size: 12px;
  margin-top: 50px;
  /* color: white; */

}

 .education{
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
}
.education .item{
display: flex;
flex-direction: column;
align-items: start;
padding: 0;
}
.education h2,h3{
  text-transform: uppercase;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 200;
}
.education h4{
  margin: 0;
}
.skills h2{
  text-transform: uppercase;
  font-weight: 200;
}
.contact h2{
  text-transform: uppercase;
  font-weight: 200;
}