/* html {
  font-size: 10px;
} */
div {
  width: 200px;
  height: 200px;
}

h1 {
  background-color: pink;
  width: 200px;
  padding-left: 100px;
  padding-top: 50px;
  margin: 0;
}

span {
  margin-left: 30px;
  margin-top: 30px;
}

#one {
  background-color: aqua;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  /* font-size: 1.5rem; */
  /* border: 5px black solid; */
  margin-left: 50px;
  margin-bottom: 100px;
}

#two {
  background-color: #b5838d;
  border-color: #ffcdb2;
  border-width: 3px;
  border-style: dashed;
  border-left-width: 8px;
  padding-right: 50px;
  margin: 200px;
}

#three {
  background-color: 6d6875;
  border: 4px solid black;
  border-left-style: dotted;
  border-radius: 50%;
}

button {
  padding: 10px 20px 30px 40px;
}
