/* The card div

210px width

1px grey border (solid border-style)

5px border radius

center text aligned

The image

200px wide

5px border with color of rgb(236, 183, 191) (solid border-style)

50% border radius */
.card{
    width: 210px;
    height:300px;
    border: 1px solid gray;
    border-radius: 5px;
    /* border-width: 1px;
    border-color: grey;
    border-style: solid; */
    text-align: center;
}

img{
    width: 200px;
    border-width: 5px;
    border-color: rgb(236, 183, 191);
    border-style: solid;
    border-radius: 50%;
}
