/* * {
    background-color: cyan;
} */

body {
  background-color: #f1faee;
}

h1,
h2 {
  color: #1d3557;
}

/* .mainHeader {
  font-size: 40px;
  background-color: rgb(103, 103, 150);
} */

.tag {
  background-color: #e63946;
  color: #f1faee;
  font-size: 16px;
}

#signup {
  background-color: #1d3557;
  color: #f1faee;
}

span {
  color: #457b9d;
}

/* descendant */
.post a {
  color: #457b9d;
  font-weight: 700;
  text-decoration: none;
}

footer a {
  color: #e63946;
}

/* + Sign: */
/* It is Adjacent sibling combinator.
 It combines two sequences of simple selectors having the same parent and the second one must come IMMEDIATELY after the first. */
h2 + button {
  font-size: 20px;
}

/* > Sign:
It will target elements which are DIRECT children of a particular element. */
footer > a {
  color: #457b9d;
}

/* selector based on the type of the elemet  attribute selectors*/
input[type="password"] {
  color: greenyellow;
}

a[href*="google"] {
  color: goldenrod;
}

.post a:hover {
  text-decoration: underline;
}

.post button:active {
  background-color: #02c39a;
}

.post:nth-of-type(2n) {
  background-color: #dfe8dc;
}

/* ul:nth-child(-3) {
  background-color: blue;
} */

h2::first-letter {
  font-size: 50px;
}

p::first-line {
  color: purple;
}

footer a {
  color: burlywood;
}
