h2 {
    background-color: rgb(89, 151, 0);
    color: aqua;
    width: 400px;
}

body {
    background-color: rgb(197, 195, 197);
}

button{
color: #FF00FF;
background-color: aqua;
}
p{
    color:olive;
    background-color: rgb(228, 161, 37);
    width: 600px;
}