h1{
text-align: center;
text-decoration:underline wavy blueviolet;
/* text-decoration-style: wavy;
text-decoration-color: blueviolet; */
font-weight: 100;
letter-spacing: 20px;
font-size: 40px;
font-family:monospace;
text-transform: uppercase;

}