body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 6em;
  text-align: center;
}
nav {
  font-size: 1.5em;
  display: flex;
  justify-content: space-evenly;
}

ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
}

ul {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (min-width: 500px) {
  h1 {
    color: orange;
  }
}
@media (min-width: 1000px) {
  h1 {
    color: yellow;
  }
}
@media (min-width: 1500px) {
  h1 {
    color: green;
  }
}

@media (orientation: landscape) {
  body {
    background-color: magenta;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 4em;
  }
  nav,
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 570px) {
  h1 {
    font-size: 3em;
  }
}
