div {
  width: 100px;
  height: 100px;
  background-color: #3d405b;
  border: 2px solid black;
  margin: 10px;
  display: inline-block;
}

#middle {
  background-color: #81b29a;
}

#static #middle {
  position: static;
  top: 100px;
}

#relative #middle {
  position: relative;
  top: 100px;
  left: 50px;
}

#absolute {
  position: relative;
}

#absolute #middle {
  position: absolute;
  top: 10px;
  left: 10px;
}

#fixed #middle {
  position: fixed;
  top: 0;
  left: 400px;
}

@media (max-width: 500px) {
  #fixed #middle {
    position: fixed;
    top: 0;
    left: 100px;
  }
}
